.Form {
  width: 400px;
  padding: 20px;
  border: 1px solid darkcyan;
  border-radius: 5px;
  color: darkcyan;
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.Form__label {
  margin: 5px;
}

.Form__input {
  margin-left: 5px;
  /* width: 200px; */
}

.Form__header {
  margin: 20px 0px 5px 0px;
}

.Form__radio {
    font-size: 22px;
}

.Form__button {
  max-width: 70px;
  margin-top: 5px;
  border: none;
  padding: 10px 15px;
  background-color: darkcyan;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
  transition: box-shadow 250ms linear;
}

.Form__button:active {
  box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}
